<div class="success-page">
  <div>
    <div class="success-page__icon">🎵</div>
    <h1 class="success-page__title">{{ shop.name }}</h1>
    <p class="success-page__text">Скоро открываемся. Загляните позже!</p>
    {{ form | password_form }}
  </div>
</div>
